body,p {
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}

.aboutMe{
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;  
}

.heading{
  font-size: xx-large;
  font-weight: 600;
}
 
.sideNavbarCollapse{
  display: none;  
}
.collapsebtncontainer{
  display: none;
}

.profilePic{
  margin-top: 30px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.projectImg {
  padding: auto;
  margin-top:15px;
  border-radius: 2px;
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.name {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 50px;
}

.sideNavbar {
  background-image: url("./assets/sidenavbar-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 500px;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.sideNavbar a {
  padding: 6px 6px 6px 32px;
  margin-left: 25px;
  margin-top: 10px;
  display: flex;
  flex: 1;
  font-size: 20px;
  color: #d6d6d6;
  text-decoration: none;
}

a:hover {
  color: #f1f1f1;
}

.mainContent {
  background-color: #ffffff;  
  margin-left: 520px;
  margin-right: 20px;
}
.aboutMe {
  width: 80%;
  margin: auto;
}
.resumeLink .noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.resumeLink button {
	width: 200px;
	height: 50px;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	color: black;
	background: rgb(119, 238, 119);
	border: 2px solid black;
	box-shadow: 5px 5px 0 black, -5px -5px 0 black, -5px 5px 0 black,
		5px -5px 0 black;
	transition: 500ms ease-in-out;
}

.resumeLink button:hover {
	box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.resumeLink button:focus {
	outline: none;
}
.eachCard {
  box-shadow: 0 6px 10px 2px rgba(0, 0, 0, 0.4);
  width: 80%;
  margin: auto;
}

footer {
  margin-top: 50px;
  width: 100%;
}
footer img {
  width: 100%;
}
header {
  width: 100%;
}
header img {
  width: 100%;
  position: relative;
}
.skills {
  margin-top: 40px;
  margin-bottom: 20px;
}

.skillBadges {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.skillIcons {
  width: 70px;
  height: 70px;
}

.findMeInner {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  padding:15px;
  background-color:rgb(102, 202, 233);
  border-radius: 5px;
}

.socialIcons {
  font-size: 35px;
  text-decoration: none;
}


.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



@media (max-width:1100px){
  .sideNavbar{
    width: 300px;
  }
  .mainContent {
    background-color: #ffffff;
    
    margin-left: 310px;
  }
  .sideNavbar a {
    padding: 6px 6px 6px 32px;
    margin-left: 45px;
    margin-right: 20px;
    margin-top: 5px;
    font-size: 20px;
    color: #d6d6d6;
    text-decoration: none;
  }
  .profilePic{
  margin-top: -50px;  
  border-radius: 50%;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.name {
  color: rgb(255, 255, 255);
  text-align: center;
  margin-bottom: 20px;
}
}


@media(max-width:650px){
  .sideNavbarCollapse{
  display:unset !important; 
  
  }
  .collapsebtncontainer{
    display: block !important;
  }

  .sideNavbar{
    display: none !important;
  }
  .mainContent{
    margin-left: 15px;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("./assets/sidenavbar-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;    
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    transition: 0.3s;
    margin-left: 40px;
    margin-top: 5px;
    display: flex;
    flex:1;
    font-size: 20px;
    color: #d6d6d6;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  .collapsebtncontainer{
    background-image: url("./assets/sidenavbar-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;    
    opacity: 0.9;
  }
  .profilePic {
  margin-top: -40px;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
}

